.header{
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 10px 20px;
    // margin: 4px;
    margin-bottom: 2px;
    .logo-section .logo span{
        color: #ae7aff;
        font-weight: 700;
    }
    .search-bar{

        width: 448px;
        height: 42px;
        margin: 0 20px;
        min-width: 60px;
        i{
            position: absolute;

        }
        .icon{
            padding: 10px;
            font-size: 20px;
        }
        input{
            width: 100%;
            height: 100%;
            background: transparent;
            // border: none;
            border: 1px solid #fff;
            color: #fff;
            font-size: 100%;
            padding: 10px 10px 10px 40px;
        }
        input:focus{
            outline: none;
        }
        ::placeholder{
            color: #fff;
        }
    }
    .auth-section{
        display: flex;
        justify-content: center;
        align-items: center;
        .login{
            // border: 1px solid;
            margin-right: 30px;
        }
    }
}