.tweet-card-container{
    color: #fff;
    padding: 25px 10px;
    margin: 10px;
    border-bottom: 1px solid rgb(55, 65, 81, 0.9);
    .tweet-info{
        display: flex;
        .channel-icon img{
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background: no-repeat center center/cover;
            object-fit: cover;
            margin-right: 10px;
        }


        .tweet-details{

            .tweet-title span{
                margin-left: 20px;
            }

            .likes-dislikes{
                margin-top: 12px;
                .like-section{
                    margin-right: 20px;
                }
                i:hover{
                    color: #ae7aff;
                    cursor: pointer;
                }
            }
        }
    }
}