<div class="video-card-container">
    <div class="thumbnail">
        <img src="https://images.pexels.com/photos/3561339/pexels-photo-3561339.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <span class="video-duration-text">20:45</span>
    </div>
    <div class="video-info">
        <div class="channel-icon">
            <img src="http://res.cloudinary.com/dqvwtmjbb/image/upload/v1705576838/o2sid2hwlsqq7mjmajob.jpg" alt="">
        </div>
        <div class="video-details">
            <div class="video-title">JavaScript Fundamentals: Variables and Data Types</div>
            <div class="video-view-data">
                <span>10.3k Views</span> . <span>40 minutes ago</span>
            </div>
            <div class="channel-name">Chai Aur Code</div>
        </div>
    </div>
</div>