<div class="video-card-container">
    <div class="thumbnail">
        <img [src]="thumbnail" alt="">
        <span class="video-duration-text">{{duration}}</span>
    </div>
    <div class="video-info">
        <div class="channel-icon">
            <!-- <div class="channel-icon" *ngIf="!onMyChannelPage"> -->
            <img [src]="channelIcon" alt="">
        </div>
        <div class="video-details">
            <div class="video-title">{{title}}</div>
            <div class="video-view-data">
                <span>{{viewCount}} Views</span> . <span>{{uploadedAt}}</span>
            </div>
            <!-- <div class="channel-name" *ngIf="!onMyChannelPage">{{channelName}}</div> -->
            <div class="channel-name">{{channelName}}</div>
        </div>
    </div>
</div>