.main-container{
    height: 100vh;
    margin: 0 4px;
    .home-page{
        display: grid;
        grid-template-columns: 20% auto;
        gap: 2px;
        height: calc(100vh - 68px);
        .router-outlet-section{
            // overflow-y: auto;
        }
    }
}