<div class="channel-container">
    
    
    <div class="channel-header">
        <div class="cover-image-container">
            <img [src]="coverImage" class="cover-image" alt="">
        </div>
        
        <div class="channel-details-conatiner">

            <div class="channel-details-row">
                <img [src]="avatar" class="avatar" alt="">
                <div class="channel-info">
                    <p class="channel-name">{{fullName}}</p>
                    <p class="channel-username">@{{username}}</p>
                    <p class="subscribers">{{subscribersCount}} Subscribers</p>
                    <p class="subscribed-to">{{channelsSubscribedTo}} Subscribed</p>
                </div>
            </div>

            <div class="subscribe-btn-container">
                <button class="subscribe btn-secondary"><i class="fa fa-user-plus"></i> Subscribe</button>
            </div>

        </div>
    </div>
    <div class="channel-content">
        <div class="channel-nav-links">
            <ul>
                <li (click)="setCurrentTab('videos')"><a [class.my-channel-li-active] = "currTab === 'videos'">Videos</a></li>
                <li><a routerLinkActive="my-channel-li-active">Playlist</a></li>
                <li (click)="setCurrentTab('tweets')" [class.my-channel-li-active] = "currTab === 'tweets'"><a>Tweets</a></li>
                <li><a>Subscribed</a></li>
            </ul>
            <!-- <div class="test" style="background-color: red;height: 40px;"></div> -->
        </div>
    </div>
    <div class="channel-items">
        <app-videos [toMyChannelPage]="true" *ngIf="currTab === 'videos'"></app-videos>
        <app-tweets [channelIcon]="avatar" [channelName]="fullName"  *ngIf="currTab === 'tweets'"></app-tweets>
    </div>
</div>