.home-container{
    background: #121212;
    color: #fff;
    padding: 20px 20px;
    
    // top:68px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 68px);
    overflow-y: auto;
    .video-section{
        height: 100%;
    }
}