<div class="videos-container">
  <app-video-card></app-video-card>
  <app-video-card></app-video-card>
  <app-video-card></app-video-card>
  <app-video-card></app-video-card>
  <app-video-card></app-video-card>
  <app-video-card></app-video-card>
  <app-video-card></app-video-card>
  <app-video-card></app-video-card>
  <app-video-card></app-video-card>
  <app-video-card></app-video-card>
  <app-video-card></app-video-card>
  <app-video-card></app-video-card>
  <app-video-card></app-video-card>
  <app-video-card></app-video-card>
  <app-video-card></app-video-card>
  <app-video-card></app-video-card>
  <app-video-card></app-video-card>
  <app-video-card></app-video-card>
  <app-video-card></app-video-card>
  <app-video-card></app-video-card>
</div>
